{% extends 'base.html' %}
{% block title %}About - #読んだ{% endblock %}
{% block content %}
<h3>おれにはその星がまぶしかったのさ</h3>
<p>以下駄文。まあそのまんんまだ。Favするには重すぎる、Likeするには軽率過ぎる、でも情緒不安定でどうしようもない精神の吐露の文字列に対しておれはなにかただ「読んだよ」というサービスをつくりたかった。それだけだ。はてなスターはとてもいいものだが、スターですら重いなにかがあるんだ。ただ「読んだ」という印があるだけでいい。それだけでいい。それだけでほっとするかもしれない。誰かが救われるかもしれない。まあこんな低機能サイトをどれだけの人が使うかって言ったらアレだけどそれでもおれは一度作ってみたかった。作りなおすかもしれない。どちらにしろ公開した。すべての弱き精神のもとに、ただのツールとしてのサービスを供給するんだ。そんな、ね。</p>
<p>そんな心情を吐露しているダイアリは<a href="http://d.hatena.ne.jp/AltNight/">こちら</a>。レベルの低い技術的なブログは<a href="http://d.hatena.ne.jp/atasatamatara/">こちら。</a></p>
{% endblock %}
