
<head>
<html lang="ja">
<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
</head>
<body>
<div id="all">
  {% block header %}
    <div id='header'>
      <h1>Yonda?</h1>
      <p> FavでもLikeでもない、ただ単に読了したものを記録するサービスです</p>
    </div>
    <div>
      <ul>
    	  {% if display_user %}<li><a href="http://127.0.0.1:8000/user/{{ display_user.name }}"> {{ display_user.name }}</a>で登録する</li>{% endif %}
    	  {% if not display_user %}<li>匿名で登録する</li>{% endif %}
      	<li><a href="{% url index %}">index</a></li>
      	<li><a href="{% url login %}">名前で登録する</a></li>
      	<li><a href="{% url logout %}">匿名に戻る</a></li>
      	<li><a href="{% url timeline %}">public_timeline</a></li>
      </ul>
    </div>
  {% endblock %}
    <div id="main">
  {% block content %}{% endblock %}
    </div>
  {% block hooter%}
  <div id='footer'>
    つくったひと::<a href="http://twitter.com/altnight">@altnight</a>
  </div>
  {% endblock %}
</div>
</body>
