{% extends 'base.html' %}
{% block title %}feed{% endblock %}
{% block content %}
<ul>
  {% for obj in feed.all %}
    <li>{{ obj.title }}</li>
    <li>{{ obj.url|urlize }}</li>
    <li> <a href="{{ DOMAIN }}/user/{{ obj.user }}">{{ obj.user }}</a>さんが{{ obj.count }}回読んだかも</li>
    <li> <a href="{{ DOMAIN }}/feed/{{ obj.id }}">{{ obj.ctime }}</a></li>
  {% endfor %}
  ---------------------------
  {% for o in users.all %}
    <li> <a href="{{ DOMAIN }}/user/{{ o.user }}">{{ o.user }}</a>さんが{{ o.count }}回読んだかも</li>
  {% endfor %}
    <hr />
</ul>
{% endblock %}
